@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-image: url(../img/rainydaysbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.logo {
  align-self: flex-start;
  width: 16%;
  border: solid 2px yellow;
  margin-top: 5px;
}

.logo img {
  height: 68px;
  width: 245px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav__links {
  color: white;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  padding: 0px;
  text-transform: uppercase;
}

.navlinks__li {
  padding: 0px 10px;
  margin: auto;
}

.nav__icons {
  color: white;
  margin-right: 30px;
  font-size: 1.3rem;
  width: 10%;
}

.fa-user-circle {
  margin: 5px;
}
.fa-search {
  margin: 5px;
}
.fa-shopping-basket {
  margin: 5px;
}

header {
  grid-area: header;
  background-color: #141212;
  opacity: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heroimage {
  grid-area: main;
  width: 100%;
}

.charousel {
  border: solid 2px yellow;
  width: 900px;
  height: 400px;
  margin: auto;
  padding: 10px;
  height: fit-content;
  width: fit-content;
}

.charouselpics img {
  height: 300px;
  width: 250px;
  border-radius: 50%;
}

.pictures {
  display: flex;
  justify-content: center;
}

.textbox {
  text-align: center;
  margin: auto;
  color: white;
  border: solid 2px green;
}

.textbox p {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(241, 235, 235);
}

footer {
  grid-area: footer;
  background-color: #434241;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  position: relative;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.footer__links {
  margin-left: 15px;
}

.footer__list {
  width: 32%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 32px;
}

.footer__icons {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  margin-right: 50px;
}

.fa-comments__position {
  position: relative;
  top: 16px;
  left: 16px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}
