@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: #77949b;
}

main {
  min-height: calc(100vh - 77px - 80px);
}

.checkout-container {
  display: grid;
  grid-template-areas: "checkoutbox1 checkoutbox2";
  width: 90%;
  border: solid 2px pink;
  height: 900px;
  margin: auto;
}

.shoppinginfocard {
  grid-area: checkoutbox1;
  height: 400px;
  border: solid 2px blue;
  display: grid;
  grid-template-areas:
    "header header header header"
    "text1 text2 text3 text4"
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";
  align-items: center;
}

.checkouth1 {
  font-family: "Merriweather";
  margin: 0;
  grid-area: header;
}

.product-text {
  grid-area: text1;
  border-bottom: solid 2px #313438;
}

.size-text {
  grid-area: text2;
  border-bottom: solid 2px #313438;
}

.quantity-text {
  grid-area: text3;
  border-bottom: solid 2px#313438;
}

.price-text {
  grid-area: text4;
  border-bottom: solid 2px#313438;
}

.yellowjacket {
  grid-area: box1;
}

.select-box1 {
  grid-area: box2;
}

.quantity-select {
  display: flex;
  border: solid 2px black;
  width: 80px;
  height: 25px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
}

.size-select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px black;
  background-color: white;
  width: 80px;
  height: 25px;
  align-items: center;
}

.select-box2 {
  grid-area: box3;
}

.select-box3 {
  grid-area: box7;
}

.select-box4 {
  grid-area: box6;
}

.price-box {
  color: white;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.price-box2 {
  color: white;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.bluejacket {
  grid-area: box5;
  border-bottom: solid 2px #313438;
}

.bankcard {
  grid-area: checkoutbox2;
  height: 400px;
  width: 80%;
  border: solid 1px yellow;
  justify-self: flex-end;
  margin-right: 30px;
}

.jacketimage {
  height: 112px;
  width: 112px;
}

.jacketimage2 {
  height: 112px;
  width: 112px;
}
