@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: #77949b;
  width: 100%;
}
main {
  min-height: calc(100vh - 77px - 80px);
}

.contactheading {
  text-align: center;
  font-size: 2rem;
}

.contactheading h1 {
  font-weight: 400;
}

.contactcontainer {
  height: 650px;
  max-width: 1000px;
  margin: auto;
  font-size: 1.5rem;
  align-items: center;
  color: white;
  border-radius: 10px;
}

.contactcard {
  margin: auto;
  background-color: #303739;
  display: flex;
  height: 400px;
  font-size: 1.5rem;
  align-items: center;
  color: white;
  border-radius: 10px;
}

.mapimage {
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.contacticons {
  width: 20%;
}

.fa-address-card {
  margin-right: 10px;
}
.fa-map-marker-alt {
  margin-right: 10px;
}

.fa-envelope {
  margin-right: 10px;
}

.contactinfo {
  width: 43%;
  margin-left: 10px;
  margin-bottom: 204px;
}

.contactinfo p {
  margin-left: 68px;
}
