@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.homepage__index {
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-image: url(/img/rainydaysbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

main {
  min-height: calc(100vh - 77px - 80px);
}

.charousel {
  height: 300px;
  width: 900px;
  border: solid 2px blue;
  margin: auto;
}

.homepageheading {
  text-align: center;
}

.homepageheading p {
  color: white;
}

.homepage__button {
  height: 50px;
  width: 100px;
  background-color: #22ea8d;
  border: none;
  border-radius: 25px;
  color: rgb(216, 201, 201);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
