@media (max-width: 991px) {
  .jacketinfoimg {
    width: 70%;
  }

  .specific-jacket__img {
    height: 460px;
    width: 300px;
    border-radius: 20px;
  }

  .nav__icons {
    color: white;
    margin-right: 10px;
    font-size: 1.3rem;
    width: 16%;
    align-items: right;
  }

  .contactcontainer {
    max-width: 1000px;
    margin: auto;
    font-size: 1.5rem;
    align-items: center;
    color: white;
    border-radius: 10px;
  }

  .contactinfo {
    width: 57%;
    margin-left: -20px;
    margin-bottom: 36px;
  }
  .checkout-container {
    display: grid;
    grid-template-areas:
      "checkoutbox1"
      "checkoutbox2";
    width: 90%;
    margin: auto;
  }

  .bankcard {
    grid-area: checkoutbox2;
    height: 610px;
    width: 80%;
    justify-self: flex-end;
    background-color: #313438;
    border-radius: 10px;
    margin: 130px auto 80px auto;
  }

  .footer__list {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 32px;
  }

  .footer__links {
    margin-left: 15px;
    font-size: 2rem;
  }

  .jacket-list__container {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: space-between;
    display: grid;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
    grid-row-gap: 30px;
  }
}

@media (max-width: 767px) {
  main {
    min-height: calc(100vh - 77px - 80px);
    width: 100%;
  }
  .jacket__img {
    height: 460px;
    width: 370px;
    border-radius: 20px;
  }

  .nav__icons {
    color: white;
    margin-right: 10px;
    font-size: 1rem;
    width: 30%;
    align-items: right;
  }
  .logo {
    align-self: flex-start;
    width: 6%;
  }

  .logo img {
    height: 48px;
    width: 125px;
  }
  nav {
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: 100px;
  }

  .jacketinfo-text {
    width: 80%;
  }

  .fa-star {
    font-size: 1rem;
    color: #303739;
    margin-top: 20px;
  }

  .specific-jacket__card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contactcontainer {
    max-width: 800px;
    margin: auto;
    font-size: 1.5rem;
    align-items: center;
    color: white;
    border-radius: 10px;
  }

  .contactcard {
    width: 90%;
    margin: auto;
    background-color: #303739;
    height: 500px;
    font-size: 1.5rem;
    align-items: center;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .contactheading {
    width: 70%;
    margin: auto;
  }

  .contactheading h1 {
    font-weight: 400;
    font-size: 2rem;
  }

  .contactinfo {
    width: 100%;
    margin: auto;
    margin-bottom: 36px;
  }

  .checkout-container {
    display: grid;
    grid-template-areas:
      "checkoutbox1"
      "checkoutbox2";
    width: 90%;
    margin: auto;
  }

  .bankcard {
    grid-area: checkoutbox2;
    height: 610px;
    width: 80%;
    justify-self: flex-end;
    background-color: #313438;
    border-radius: 10px;
    margin: 130px auto 80px auto;
  }

  .footer__links {
    margin-left: 15px;
    font-size: 1.5rem;
  }

  .footer__list {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 32px;
  }

  .jacket-list__container {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    display: grid;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6"
      "card7"
      "card8";
    grid-row-gap: 30px;
  }

  .charousel {
    width: 400px;
    text-align: center;
    margin: 80px auto;
  }
}
