@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
}
nav {
  display: flex;
  align-items: center;
}
.nav-links li {
  width: 50;
  list-style-type: none;
  display: inline-flex;
  letter-spacing: 3px;
}
.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: ;
}

h1 {
  text-transform: uppercase;
}

.footer-links a {
  text-transform: uppercase;
  text-decoration: none;
}

.hero-bg {
  background-size: cover;
}

.logo {
  max-width: 200px;
}
.fa-address-book {
  font-size: 3rem;
  color: pink;
}
