@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
}
header {
  width: auto;
}
nav {
  display: flex;
  align-items: center;
}
.nav-links li {
  width: 50;
  list-style-type: none;
  display: inline-flex;
  letter-spacing: 3px;
}
.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

.footer-links a {
  text-transform: uppercase;
  text-decoration: none;
}
